<div class="sample_title">Your favorites</div>

  <!-- <button class="btn btn-info mt-3" routerLink="/dashbord" >Your favorites </button> -->


<div class="all_cards">
  <div class="card">
    <img src="" alt="Avatar" style="width: 100%" />
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>
  <div class="card">
    <img src="" alt="Avatar" style="width: 100%" />
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>
  <div class="card">
    <img src="" alt="Avatar" style="width: 100%" />
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>
  <div class="card">
    <img src="" alt="Avatar" style="width: 100%" />
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>
  <div class="card">
    <img src="" alt="Avatar" style="width: 100%" />
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
  </div>
</div>


  <button class="btn btn-info mt-3" routerLink="/corosoul" >corosoul </button>












