<div class="row p-5">
  <div class="col-sm-12 col-md-12">
    <!-- <h1 class="text-center p-2 my-3 display-4">Book Application</h1> -->
    <div class="show_img">
      <img
        src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1890&q=80"
      />
    </div>

    <hr>
        <div class="sample_title">Testimonial</div>

    <div class="testimonial">
      <img
        src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1890&q=80"
      />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores illum
        enim consequatur a corrupti, similique quos et nam. Similique non
        tenetur nostrum, placeat maxime ex? Dolores molestiae iste laudantium
        ex? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni quis
        deleniti quo molestiae inventore blanditiis consequuntur quam reiciendis
        distinctio quisquam?
      </p>
    </div>
    <hr>
    <div class="sample_title">Some Sample Books</div>
    <div class="all_cards">
      <div class="card">
        <img src="" alt="Avatar" style="width: 100%" />
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
      <div class="card">
        <img src="" alt="Avatar" style="width: 100%" />
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
      <div class="card">
        <img src="" alt="Avatar" style="width: 100%" />
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
      <div class="card">
        <img src="" alt="Avatar" style="width: 100%" />
        <div class="container">
          <h4><b>John Doe</b></h4>
          <p>Architect & Engineer</p>
        </div>
      </div>
    </div>
  </div>
</div>
