<form>
  <h2 class="text-center">Login</h2>
  <div class="form-group">
    <label>Username</label>
    <input 
        type="text" name="userName" class="form-control"
        id="userName" [formControl]="userName" />
  </div>
  <div class="form-group">
    <label>Password</label>
    <input 
        type="password" name="password" class="form-control"
        id="password" [formControl]="password" />
  </div>
  <!-- <button class="btn btn-info mt-3" (click)="changeUserName()">Suggest Another Username</button> -->
  <button class="btn btn-info mt-3" routerLink="/dashbord" >Login to dash board </button>
</form>
