<div class="p-3 alert text-danger">
  <h1>404</h1>
  <h2>Page not found</h2>
  <p>
    The page you are looking for might have been removed had its name changed or
    is temporarily unavailable.
  </p>
  <p>Please try the following:</p>
  <ul>
    <li>
      Return to the <a routerLink="/home" class="btn btn-sm btn-warning">home page</a> and try to find what you
      are looking for.
    </li>
    <li>
      Contact the system administrator if you think this is a server error.
    </li>
  </ul>
</div>
